@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: "Pixel";
  src: url("Resources/fonts/Pixel Emulator.otf") format("opentype");
}

*{
  margin: 0;
  padding: 0;
}
body{
  background: #101615;
  font-family: "Inter", sans-serif;
}
.percents_for_referals_text{
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
.app{
  width: 100vw;
  /*min-height: 100vh;*/
  overflow-x: hidden;

  padding-bottom: 100px;

  /*display: flex;*/
  /*justify-content: space-around;*/
  /*align-items: center;*/
}
.game-container{
  padding: 12px;
  box-sizing: border-box;
}
.game-container_header{
  padding: 12px;
  box-sizing: border-box;
  padding-bottom: 10px;
  background-color: #000;
  background-image: url("Resources/images/header-background2.png");
  background-repeat: no-repeat;
  background-position: center -5px;
  background-size: cover;
}
.game-container_header-leftSide{
  display: flex;
  align-items: center;
}
.game-container_header-leftSide > img{
  border-radius: 50%;
  width: 31px;
  height: 31px;
  margin-right: 8px;
}
.clicker{
  width: 70vw;
  height: 70vw;

  margin: 0 auto;

  display: block;
  outline: none;
  border: none;
  border-radius: 50%;

  /*box-shadow: 0px 0px 24px 0px #000;*/

  background-image: url("Resources/images/clicker-background.jpg");
  /*background-image: url("Resources/images/clicker-background.png");*/
  background-position: center;
  background-size: 102%;

  box-shadow: 0px 0px 90px 0px #90a3b0;
}
.clicker.disabled{
  opacity: 0.4;
}
/*.clicker:hover{*/
/*  box-shadow: inset 0px 0px 24px 0px #000;*/
/*}*/
.score{
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 45px;
  justify-content: center;
  margin-top: 16px;

  font-family: "Pixel";
}
.score > img{
  /*width: 33px;*/
  /*height: 34px;*/
  margin-top: 10px;
  margin-right: 10px;
}
.game-container_stats{
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  /*padding: 0 15px;*/
}
.game-container_stats-item{
  background: linear-gradient(180deg, rgba(170, 167, 178, 0.09) 0%, rgba(73, 72, 76, 0.09) 100%);
  margin-right: 10px;

  padding: 3px 10px;

  text-align: center;
  color: #fff;

  border-radius: 2px;
  width: 100%;
}
.game-container_stats > .game-container_stats-item:last-child{
  margin-right: 0;
}
.game-container_stats-item-name{
  font-size: 12px;
  display: block;
  text-align: center;
}
.game-container_stats-item-value{
  margin-top: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: "Pixel";
}
.game-container_stats-item-value > img{
  display: block;
  width: 15px;
  height: 15px;

  margin-right: 4px;
}
.game-container_header-leftSide-name{
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  letter-spacing: -0.03em;
  text-align: right;
  color: #fff;
}

.bottom_menu{
  position: fixed;
  z-index: 9999;
  bottom: 14px;
  left: 0;
  width: 100vw;
  height: 69px;

  display: flex;
  justify-content: space-around;
}
.bottom_menu-container{
  background-image: url("Resources/images/menu-background.svg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 69px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;

  max-width: 365px;
}
.bottom_menu-item{
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.leaderboard-container{
  padding: 12px;
  box-sizing: border-box;
  background: #101615;
  padding-bottom: 100px;
}
.leaderboard-list_item{
  background: linear-gradient(180deg, rgba(170, 167, 178, 0.09) 0%, rgba(73, 72, 76, 0.09) 100%);
  border-radius: 2px;
  padding: 14px;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 16px;
}
.leaderboard-list_item.current{
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.52);
  background: #12221c;
  border: 0.50px solid #bbf245;
}
.leaderboard-list_item-avatar{
  display: block;
  width: 43px;
  height: 43px;
  border-radius: 50%;
}
.leaderboard-list_item-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 16px;
}
.leaderboard-list_item-rating{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 24px;
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgba(229, 231, 227, 0.17);
  font-size: 16px;
}
.leaderboard-list_item-info-balance-coin{
  width: 15px;
  height: 15px;
  display: block;
  margin-right: 5px;
}
.leaderboard-list_item-info-balance{
  display: flex;
  align-items: center;
  font-family: "Pixel";
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  text-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  margin-top: 8px;
}
.leaderboard-list_item-info-name{
  font-size: 13px;
}

.referrals_container{
  padding: 14px;
  box-sizing: border-box;

  padding-bottom: 50px;
}
.referrals_container-list-items-item{
  display: flex;
  align-items: center;
}
.referrals_container-list-items-item-info{
  display: block;
}
.referrals_container-list-items-item-info-name{
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #fff;
  display: block;
  margin-bottom: 5px;
}
.referrals_container-list-items-item-info-coins{
  font-family: "Pixel";
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;

  display: flex;
  align-items: center;
}
.referrals_container-list-items-item-info-coins-image{
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.referrals_container-list-items-item-image{
  margin-right: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.referrals_horizontal_line{
  display: block;
  margin: 10px auto;
}
.referrals_container-list-levelname{
  color: #fff;
  /*font-family: "Pixel";*/
  display: block;
  font-size: 24px;
  margin-bottom: 15px;
}
.referrals_container-name{
  display: block;
  color: #fff;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.referrals_share_container{
  position: fixed;
  bottom: 90px;
  left: 0;
  width: 100vw;

}
.referrals_container_share{
  width: 80%;
  margin: 0 auto;
  height: 69px;
  background-image: url("Resources/images/menu-background.svg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #451b0b;
  box-sizing: border-box;
  text-decoration: none;

  border-radius: 10px;
  text-align: center;

  display: flex;
  justify-content: space-around;
  align-items: center;

  /*box-shadow: 0px 0px 7px -3px #fff;*/

  font-family: "Pixel";
}
.referrals_empty{
  display: block;
  color: #fff;
}
.leaderboard-container_name{
  display: block;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.improve_container-name{
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  margin: 20px 0;
}
.improve_container-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 25px;
}
.improve_container-row-item{
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(170, 167, 178, 0.09) 0%, rgba(73, 72, 76, 0.09) 100%);
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-bottom: 4%;

  box-shadow: 0px 0px 5px -4px #f1f1f1;
}
.improve_container-row-item-main{
  display: flex;
  padding: 12px;
  box-sizing: border-box;
}
.improve_container-row-item-main-leftSide{
  width: 20%;
  padding-right: 10px;
}
.improve_container-row-item-main-leftSide > img{
  /*width: 24px;*/
  /*height: 24px;*/
  display: block;
  width: 100%;
}
.improve_container-row-item-main-rightSide{
  width: 80%;
  display: flex;
  flex-direction: column;
}
.improve_container-row-item-main-rightSide-name{
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 10px;
}
.improve_container-row-item-main-rightSide-description{
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: rgba(255, 255, 255, 0.58);
  margin-bottom: 2px;
}
.improve_container-row-item-main-rightSide-coins{
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  align-items: center;
}
.improve_container-row-item-main-rightSide-coins > img{
  margin-right: 5px;
  display: block;
  width: 15px;
  height: 15px;
}
.improve_container-row-item-bottom{
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  border-top: 1px solid rgba(255,255,255,0.2);
}
.improve_container-row-item-bottom-currentLevel{
  border-right: 1px solid rgba(255,255,255,0.2);
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.improve_container-row-item-bottom-price-text{
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.improve_container-row-item-bottom-price-text > img{
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.improve_container-row-item.disabled,
.boosts_container-row-button.disabled{
  background: #111414;
  color: #666;
  box-shadow: none;
}
.improve_container-row-item.disabled span,
.boosts_container-row-button.disabled span,
.boosts_container-row-button.disabled span::before{
  background: #111414;
  color: #666;
}
.energy_container{
  display: flex;
  align-items: center;
  font-family: "Pixel";
  color: #fff;

  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.energy_container > img{
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 2px;
}
.boost_button{
  font-family: "Pixel";

  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  display: flex;
  align-items: center;

  text-decoration: none;
}
.boost_button > img{
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 2px;
}
.energy_and_boost{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
}
.boosts_container-column{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
.boosts_container-row-button{
  outline: none;
  border: none;
  background: linear-gradient(180deg, rgba(170, 167, 178, 0.09) 0%, rgba(73, 72, 76, 0.09) 100%);
  margin-bottom: 16px;
  border-radius: 2px;

  display: flex;

  padding: 12px;
  box-sizing: border-box;
  color: #fff;

  align-items: center;
}
.boosts_container-row-button-icon{
  display: block;
  width: 42px;
  height: 42px;
}
.boosts_container-row-button-text{
  margin-left: 16px;
}
.boosts_container-row-button-text-name{
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.03em;
  color: #fff;

  text-align: left;
}
.boosts_container{
  padding: 14px;
  box-sizing: border-box;
}
.boosts_container-name{
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  letter-spacing: -0.03em;
  color: #fff;
}
.boosts_container-row-button-text-undername{
  margin-top: 8px;

  display: flex;
  align-items: flex-end;
}
.boosts_container-row-button-text-undername-coins{
  display: flex;
  align-items: center;

  font-family: "Pixel";
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}
.boosts_container-row-button-text-undername-coins > img{
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.boosts_container-row-button-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.boosts_container-row-button-text-undername-lvl{
  margin-left: 6px;
  display: flex;
  align-items: center;
}
.boosts_container-row-button-text-undername-lvl::before{
  content: "";
  margin-right: 6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  display: block;
}
.platform-name{
  color: #bdbdbd;
  margin-top: 20px;
}
.admin-text{
  color: #fff;
}
.level-line-container{
  display: flex;
  height: 10px;
  border: 2px solid #1d2222;
  background: #1d2222;
  margin: 0 auto;
  border-radius: 6px;

  margin-bottom: 30px;
}
.level-content{
  width: 90%;
  margin: 0 auto;
}
.level-line{
  width: 20%;
  background-color: #bbf245;
  border-radius: 6px;

  z-index: 10;
}
.level-content-value{
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 183%;
  letter-spacing: -0.03em;
  text-align: right;
  box-sizing: border-box;
  padding-left: 5px;
  margin-bottom: 5px;
}












.just-webapp{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.just-webapp-text{
  color: #fff;
}
.just-webapp-link{
  color: #f1f1f1;
  margin-top: 20px;
  font-size: 20px;
}

@keyframes fly {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}